.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color:antiquewhite;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

#footer .twitter {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  #footer .linkedin {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -78px 0;
  }
  #footer .facebook {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -233px 0;
  }
  #footer .skype {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -156px 0;
  }
  #footer .flickr {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -310px 0;
  }
  #footer a {
    height: 56px;
    width: 56px;
    display: inline-block;
    margin: 10px;
  }
  #footer a:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }
  #footer .twitter:hover {
    background-position: 0 -56px;
  }
  #footer .facebook:hover {
    background-position: -233px -56px;
  }
  #footer .skype:hover {
    background-position: -156px -56px;
  }
  #footer .linkedin:hover {
    background-position: -78px -56px;
  }
  #footer .flickr:hover {
    background-position: -310px -56px;
  }
  .bg-dark-1{
    background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
   
  }
  
.footer-bottom{
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
}

.footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
}

.footer-menu{
    float: right;
}
  
.footer-menu ul{
    display: flex;
}
  
.footer-menu ul li{
  padding-right: 10px;
  display: block;
}
  
.footer-menu ul li a{
    color:goldenrod;
    text-decoration: none;
}
  
.footer-menu ul li a:hover{
    color: black;
}

.card-img{
  height: fit-content;
  width: fit-content;
}

.container-fluid{
  background-color: antiquewhite;
}

.btn{
  color: aqua;
}

.card-img{
  height: 550px;
  width: 1000px;
}

.Text-in{
  text-align: center;
}